* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  color: #707070;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #707070;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #9D8670;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 217px;
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #F2EDE9;
}

.c-bg-color--seashell {
  background-color: #FFF7EF;
}
.c-bg-color--lightgray {
  background-color: #F2EDE9;
}
.c-bg-color--lightgray-gradation {
  background-color: #F5F5F5;
  background: linear-gradient(#F2EDE9, #DED8D3);
}
.c-bg-color--white {
  background-color: #FFFFFF;
}
.c-bg-color--mocha {
  background-color: #9D8670;
}
.c-bg-color--dark-brown {
  background-color: #3C2B1C;
}
.c-bg-color--light-gray {
  background-color: #F5F5F5;
}

.c-background, .c-background__main--page, .c-background__main--single, .c-background__main--archive, .c-background__main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.c-background__main {
  background-image: url(./../../../images/mainvisual.jpg);
}
.c-background__main--archive {
  background-image: url(./../../../images/brunch-menu-left.jpg);
}
.c-background__main--single {
  background-image: url(./../../../images/hamburger-single.jpg);
}
.c-background__main--page {
  background-image: url(./../../../images/shop.jpg);
}

.c-border--brown {
  border-color: #707070;
}

.c-underline {
  width: 3.3vw;
}

.c-button {
  text-align: center;
  text-decoration: none;
}

.c-grid {
  display: grid;
  grid-template-rows: 217px 1fr 150px;
  grid-template-columns: 1fr 20%;
}
.c-grid__header {
  grid-row: 1;
  grid-column: 1/2;
}
.c-grid__main {
  grid-row: 2;
  grid-column: 1/2;
}
.c-grid__footer {
  grid-row: 3;
  grid-column: 1/3;
}
.c-grid__sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
}

.c-opacity--60per {
  opacity: 60%;
}
.c-opacity--50per {
  opacity: 50%;
}
.c-opacity--29per {
  opacity: 29%;
}

.c-round--10per {
  border-radius: 10%;
}
.c-round--20per {
  border-radius: 20%;
}
.c-round--50per {
  border-radius: 50%;
}

.c-text--white {
  color: #FFFFFF;
}
.c-text--brown {
  color: #707070;
}
.c-text--dark-brown {
  color: #3C2A10;
}
.c-text--black {
  color: #000000;
}

.c-title {
  color: #FFFFFF;
  font-weight: bold;
}

.c-unit--2col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-access {
  width: 100%;
  height: 649px;
  background-image: url(./../../../images/map.jpg);
}
.p-access__container {
  position: relative;
  background-color: #000000;
  opacity: 0.6;
  width: 61%;
  height: 649px;
}
.p-access__title {
  padding-top: 83px;
  padding-left: 119px;
}
.p-access__title::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 120px;
  top: 155px;
}
.p-access__text {
  padding: 39% 14% 6% 12%;
  font-size: 1.4rem;
}

.p-brunch-menu {
  display: flex;
}
.p-brunch-menu__ul-left {
  min-height: 1193px;
  background-image: url(./../../../images/brunch-menu-left.jpg);
  margin: 120px 40px 134px 111px;
}
.p-brunch-menu__ul-right {
  min-height: 1193px;
  background-image: url(./../../../images/brunch-menu-right.jpg);
  margin: 120px 111px 134px 40px;
}
.p-brunch-menu__title {
  font-size: 80px;
}
.p-brunch-menu__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
}
.p-brunch-menu__dl {
  background-color: #FFFFFF;
  opacity: 0.6;
  margin: 20px;
}
.p-brunch-menu__dl:nth-of-type(1) {
  margin-top: 702px;
}

.p-footer {
  position: relative;
}
.p-footer__ul {
  display: flex;
  margin: 40px auto 34px;
}
.p-footer__ul :first-child::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1.3px;
  height: 24px;
  background-color: #FFFFFF;
}
.p-footer__copyright {
  margin: 0 auto;
}

.p-header .p-header__title {
  margin-left: 3.4rem;
  font-weight: 900;
  font-size: 6.4rem;
  font-family: Roboto;
}

.p-main-visual {
  position: relative;
  height: 530px;
  display: flex;
  align-items: center;
}
.p-main-visual__title {
  padding-left: 86px;
  font-size: 40px;
}

.p-nav__title {
  padding-left: 12%;
}
.p-nav__title:first-child {
  padding-top: 85px;
}
.p-nav__ul {
  padding-left: 18%;
}
.p-nav__li {
  padding-bottom: 23px;
}

.p-search-form {
  display: flex;
  width: 396px;
  position: relative;
}
.p-search-form::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./../../../images/glass.jpg) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 98px;
  left: 12px;
}
.p-search-form__keyword {
  border: 1px solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 396px;
  height: 46px;
  margin: 86px 0 85px;
}
.p-search-form__submit {
  border: 1px solid;
  border-radius: 10px;
  background-color: #F2EDE9;
  width: 136px;
  height: 46px;
  margin: 86px 31px 85px 13px;
}
/*# sourceMappingURL=style.css.map */