//色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;


//ボタン
.c-button {
  text-align        : center;
  text-decoration   : none;

  //グラデーションのボタン
  &--gradation {
    background-color: v.$color-bg-light-gray;
    background      : linear-gradient(#F2EDE9, #DED8D3)
  }
  &__white {
    background-color: v.$color-white;
  }
  //paginationの箱型ボタン
  &__pagination {
    width: m.pc-vw( 35 );
    height: m.pc-vw( 35 );
    margin-right: m.pc-vw( 15 );
    border: solid 1px v.$color-brown;
    font-size: m.pc-vw( 16 );
    color: v.$color-brown;
  }
} 