//色指定
@use "./../../foundation/variables" as v;

//google fonts
.c-font {
    &__M--regular {
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 400;
        }
    &__M--bold {
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 700;
        }
    &__R {
        font-family: 'Roboto', sans-serif;
        }    
}

//フォントサイズ
.c-font-size {
    &__16 {
        font-size: 0.83vw;
    }
    &__24 {
        font-size: 1.3vw;
    }
    &__36 {
        font-size: 1.87vw;
    }
}
