@use "./../../foundation/variables" as v;

 .c-pseudo-element {
    &::after {
        content:"";
        display:block;
        height:3px;
        background-color: v.$color-white;
        position:absolute;
    }
}