//色指定
@use "./../../foundation/variables" as v;

//擬似要素(下線)
 .c-pseudo-element {
    &::after {
        content:"";
        display:block;
        height:3px;
        background-color: v.$color-white;
        position:absolute;
    }
}