//文字色指定
@use "./../../foundation/variables" as v;

//未使用
.c-title {
    &__42 {
        color: v.$color-white;
        @extend .c-title__42;
        font-size: 4.2vw;
    }
    &__41 {
        @extend .c-title__42;
        font-size: 10.93vw;
    }
    &__02 {
        @extend .c-title__42;
        font-size: 2vw;
    }
    &__01 {
        @extend .c-title__42;
        font-size: 1vw;
    }
    &__007 {
        @extend .c-title__42;
        font-size: 0.7vw;
    }
    &__36 {
        @extend .c-title__42;
        font-size: 9.6vw;
    }
}
