@use "./../../foundation/variables" as v;

.c-title {
    &__42 {
        color: v.$color-white;
        font-size: 4.2vw;
    }
    &__02 {
        @extend .c-title__42;
        font-size: 2vw;
    }
    &__01 {
        @extend .c-title__42;
        font-size: 1vw;
    }
    &__007 {
        @extend .c-title__42;
        font-size: 0.7vw;
    }
}
