@use "./../../foundation/mixin" as m;

//未使用
//2カラムのレイアウト
.c-unit {
    &--2col {
        display:         flex;
        justify-content: space-between;
        align-items: center;
    }
}

//flex-boxの定義
.c-flex-box {
    //横並び
    // &--side {
    //     display:         flex;
    //     justify-content: space-between;
    //     align-items:     center;
    // }

    //縦並び
    &--column {
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        align-items: center;
        //pc1025px(横並び 左右に均等配置)
        @include m.pc {
            justify-content: space-between;
            flex-direction: row;        
        }
    }
}