.c-unit {
    &--2col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c-flex-box {
    &--column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}