//レスポンシブ
@use "./../../foundation/mixin" as m;

//サイドバーの一番上のMenuの余白定義
// .p-nav__title--menu {
//     margin-top: 51px;
//     margin-bottom: 22px;
// }
.u-margin__title--menu {
    display: none;
    @include m.pc {
        display: block;
        margin-top: m.pc-vw( 82 );
        margin-bottom: m.pc-vw( 85 );
        text-align: start;
        padding-left: m.pc-vw( 46 );
    }
}

.u-margin__T130 {
    // margin-top: 130px;
    margin-top: m.sp-vw( 212 );
    @include m.tablet {
        margin-top: m.tb-vw( 212 );
    }
    @include m.pc {
        margin-top: 0;
    }
}

.u-margin__T11 {
    margin-top: m.sp-vw( 11 );
    @include m.pc {
        margin-top: m.pc-vw( 11 );
        padding-bottom: m.pc-vw( 39 );
    }
}

.u-margin__T18 {
    margin-top: m.sp-vw( 18 );
    @include m.pc {
        margin-top: m.pc-vw( 18 );
        padding-bottom: m.pc-vw( 38 );
    }
}