@use "./../../foundation/variables" as v;

.p-access {
    width: 100%;
    height: 649px;
    background-image: url(./../../../images/map.jpg);
    &__container {
        position: relative;
        background-color: v.$color-black;
        opacity: 0.6;
        width: 61%;
        height: 649px;
    }
    &__title {
        padding-top: 83px;
        padding-left: 119px;
    }
    &__title::after {
        content: "";
        display: block;
        width: 75px;
        height: 3px;
        background-color: #FFFFFF;
        position: absolute;
        left: 120px;
        top: 155px;
    }
    &__text {
        padding: 39% 14% 6% 12%;
        font-size: 1.4rem;
    }
}