//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//single-pageの画像と記事のセット
.p-article1 {
    display: flex;
    margin-top: m.pc-vw( 60 );
    margin-right: m.pc-vw( 99 );
    margin-left: m.pc-vw( 100 );
    &__text {
        @include m.pc {
            margin-left: m.pc-vw( 40 );
        }
    }
}

//single-pageの記事と画像のセット
.p-article2 {
    &__text {
        @include m.pc {
            margin-right: m.pc-vw( 40 );
        }
    }
}