//文字色指定
@use "./../../foundation/variables" as v;

//Take Out/Eat In
//横並び、マージン
.p-brunch-menu {
    display: flex;
    margin:  70px 70px 82px 69px;
    //パン３つ
    //高さを文字数に合わせて可変
    &__ul-left {
        position:     relative;
        min-height:   746px;
        margin-right: 50px;
        width: 100%;
        }
    //ハンバーガー
    //高さを文字数に合わせて可変
    &__ul-right {
        position:   relative;
        min-height: 746px;
        width: 100%;
        }
    //タイトルの位置
    &__title {
        margin-left: 1.4vw;
    }
    //タイトル下の下線の位置、幅など
    &__title::after {
        width:  40px;
        height: 2px;
        top:    100px;
        left:   1.4vw;
        }
    //Take Out/Eat Inの説明文の白い箱
    &__dl {
        background: rgba(255,255,255,1);
        margin:     20px;
        }
    //上の箱のmargin設定
    &__dl:nth-of-type(1) {
        margin-top: 702px;
    }
    //白い箱の中の見出し(Take Out/Eat In)の余白
    &__dt {
        padding: 7.5px 13px 0 12.5px;
    }
    //白い箱の説明文の余白
    &__dd {
        padding: 5.6px 13px 12.5px 12.5px;
    }
}
