@use "./../../foundation/variables" as v;

.p-brunch-menu {
    display: flex;
    &__ul-left {
        min-height: 1193px;
        background-image: url(./../../../images/brunch-menu-left.jpg);
        margin: 120px 40px 134px 111px;
    }
    &__ul-right {
        min-height: 1193px;
        background-image: url(./../../../images/brunch-menu-right.jpg);
        margin: 120px 111px 134px 40px;
    }
    &__title {
        font-size: 80px;
    }
    &__title::after {
        content:"";
        display:block;
        width:80px;
        height:3px;
        background-color: v.$color-white;
        position:absolute;
    }
    &__dl {
        background-color: v.$color-white;
        opacity: 0.6;
        margin-bottom: 20px;
    }
}
