//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//Take Out/Eat In
//横並び、マージン
.p-brunch-menu {
    // display: flex;
    // margin:  28.7px 3.448vw;
    margin: 7.65vw 3.448vw;
    @include m.tablet {
        margin: 4.79vw 3.448vw 0 3.44vw;
    }
    @include m.pc {
        margin:  75px 5.83vw 83.8px 5.78vw;
    }

    //パン３つ
    //高さを文字数に合わせて可変
    &__ul-left {
        position:     relative;
        // min-height:   489.7px;
        min-height: m.sp-vw( 489.7 );
        margin-right: 3.537vw;
        margin-bottom: 5.33vw;
        width: 100%;
        @include m.tablet {
            min-height: m.tb-vw( 681 );
            // position:     relative;
            // min-height:   489.7px;
            // margin-right: 3.537vw;
            // width: 100%;
        }
        @include m.pc {
            min-height:   746px;
            margin-right: 50px;
            margin-bottom: 0vw;
        }
        }

    //ハンバーガー
    //高さを文字数に合わせて可変
    &__ul-right {
        position:   relative;
        // min-height: 489.7px;
        min-height: m.sp-vw( 489.7 );
        // margin-right: 3.537vw;
        margin-bottom: 5.33vw;
        width: 100%;
        @include m.pc {
            min-height:   746px;
            // margin-right: 50px;
            margin-bottom: 0vw;
        }
        }

    //タイトルの位置
    &__title {
        padding-top: m.sp-vw( 11, 375 );
        margin-left: 4vw;
        font-size: m.sp-vw( 41, 375);
        line-height: 1.317;
        // font-size: 2.07vw;
        @include m.tablet {
            // margin-left: 1.4vw;
            margin-left: m.tb-vw( 11 );
            // font-size: 3.79vw;
            font-size: m.tb-vw( 44);
        }
        @include m.pc {
            font-size: 3.3vw;
        }
    }

    //タイトル下の下線の位置、幅など
    &__title::after {
        width:  9.03vw;
        height: 6.5px;
        height: 1.2vw;
        top:    19vw;
        left:   4vw;
        @include m.tablet {
            // width:  3.33vw;
            width: m.tb-vw( 35.99 );
            // height: 3.5px;
            height: m.tb-vw( 3.5 );
            // top:    66px;
            top: 11.913vw;
            left:   1.4vw;
            left: m.tb-vw( 15.1 );
        }
        @include m.pc {
            width: 40px;
            height: 2px;
            top: 70px;
        }
        }

    //Take Out/Eat Inの説明文の白い箱
    &__dl {
        background: rgba(255,255,255,1);
        // margin:     20px;
        margin: m.sp-vw( 20 );
        @include m.tablet {
            margin: 1.79vw 1.79vw 1.91vw 1.91vw;
        }
    }

    //上の箱のmargin設定
    &__dl:nth-of-type(1) {
        // margin-top: 305px;
        margin-top: m.sp-vw( 305 );
        @include m.tablet {
            margin-top: m.tb-vw( 595 );
        }
    }

    //白い箱の中の見出し(Take Out/Eat In)の余白
    &__dt {
        // padding: 7.5px 13px 0 12.5px;
        padding: 1.87vw 0 0.8vw 2.67vw;
        font-size: m.sp-vw( 22 );
        @include m.tablet {
            font-size: 3.5vw;
            font-size: m.tb-vw( 24 );
        }
        @include m.pc {
            font-size: 1.3vw;
            
        }
    }

    //白い箱の説明文の余白
    &__dd {
        // padding: 5.6px 13px 12.5px 12.5px;
        padding: 0.8vw 2.67vw 4vw 2.67vw;
        font-size: m.sp-vw( 16 );
        line-height: 1.438;
        @include m.tablet {
            font-size: m.tb-vw( 14 );
        }
    }
}
