@use "./../../foundation/variables" as v;

.p-footer {
    position: relative;
    &__ul {
        display:   flex;
        margin:    25px auto 17px;
        font-size: 1vw;
        :first-child::after {
            position: absolute;
            top:      28px;
            content:  "";
            display:  inline-block;
            width:    1.3px;
            height:   18px;
            background-color: v.$color-white;
        }
    }
    &__copyright {
            margin: 0 auto;
    }
}
