//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//フッター(基準設定)
.p-footer {
    position: relative;
    //ショップ情報とヒストリー
    //横並び
    &__ul {
        display:   flex;
        margin:    25px auto 17px;
        // font-size: 1vw;
        @include m.pc {
            font-size: 1vw;
        }
        //ショップ情報の後ろに擬似要素で仕切り作成
        :first-child::after {
            position: absolute;
            top:      28px;
            content:  "";
            display:  inline-block;
            width:    1.3px;
            height:   18px;
            background-color: v.$color-white;
        }
    }
    &__menu__li {
        @include m.pc {
            font-size: 1vw;
        }
    }
    //コピーライトの真ん中中央揃え
    &__copyright {
        margin: -5px auto;
        @include m.pc {
            margin: 0 auto;
        }    
    }
}
