.p-main-visual {
    position: relative;
    // width: 971px;
    height: 331px;
    // display: flex;
    // align-items: center;
    &__title {
        padding: 12.025vw 0 12.65vw 4.47vw;
        // font-size: 40px;
    }
}

