@use "./../../foundation/variables" as v;

.p-nav {
    &__title {
        padding-left: 12%;
    }
    &__title:first-child {
        padding-top: 85px;
    }
    &__ul {
        padding-left: 18%;
    }
    &__li {
        padding-bottom: 23px;
    }
}