@use "./../../foundation/variables" as v;

.p-nav {
    &__title {
        // padding-top: 2px;
        padding-left: 12%;
        padding-bottom: 25px;
    }
    &__ul {
        padding-left: 18%;
    }
    &__li {
        padding-bottom: 1.91vw;
    }
}