//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//サイドバー
.p-nav {
    position: static;
    // @include m.pc {
    //     position: static;
    // display: none;
    // @include m.pc {
    //     display: block;
    // }
    //Menu,バーガー、サイド、ドリンクの余白設定
    &__title {
        // padding-left: 12%;
        padding-left: m.sp-vw( 46 );
        padding-bottom: m.sp-vw( 25 );
        @include m.pc {
            padding-bottom: m.pc-vw( 25 );
        }
    }

    //ulの左の余白
    &__ul {
        padding-left: m.sp-vw( 66 );
    }

    //liの下の余白
    &__li {
        padding-bottom: m.sp-vw( 23 );
    }
}