//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

.p-pagination {
    display: flex;
    justify-content: flex-start;
    margin-top: m.sp-vw( 60.4 );
    margin-bottom: m.sp-vw( 31 );
    &__item--link {
        display: block;
        text-align: center;
    }
    &__item--hide {
        display: none; //sp版で不要な表示を消す
    }
}