@use "./../../foundation/variables" as v;

.p-search-form {
    display: flex;  
    height:  11.33vw;
    position: relative;  //虫眼鏡入れるため
    &::before {
        content:    "";
        width:      2vw;
        height:     24px;
        background: url(./../../../images/glass.jpg) no-repeat center  center / auto 80%;
        display:    inline-block;
        position:   absolute;
        top:        65px;
        left:       12px;
        //          font-family:                     "Font     Awesome 6      Free";
        //          content:                         '\f002';
        //          font-weight:                     400;
        }
    &__keyword {
        //                border:        1px solid v.$color-brown;
        //                border-radius: 10px;
        background-color: v.$color-white;
        width:            20.6vw;
        height:           36px;
        margin:           4.3vw 0.67vw 4.35vw;
        padding-left:     2.5vw;
        }
    &__submit {
        //                border:        1px  solid v.$color-brown;
        //                border-radius: 10px;
        background-color: v.$color-bg-lightgray;
        width:            7vw;
        height:           36px;
        margin:           4.3vw 1.61vw 4.35vw 0;   
        font-size:        0.8vw; 
        color:            v.$color-brown;
        }
}



