//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//archiveのmain-visualの下の説明文
.p-section__archiveAbout--article {
    &__title {
        margin-top: m.sp-vw( 30 );
        margin-left: m.sp-vw( 30 );
    }
    &__text {
        margin-top: m.sp-vw( 30 );
        margin-right: m.sp-vw( 18 );
        margin-bottom: m.sp-vw( 19 );
        margin-left: m.sp-vw( 22 );
        line-height: 1.4375;
    }
}