//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//archiveのmain-visualの下の説明文
.p-section__archiveAbout--article {
    &__title {
        margin-top : m.sp-vw( 30 );
        margin-left: m.sp-vw( 30 );
    }
    &__text {
        margin-top   : m.sp-vw( 30 );
        margin-right : m.sp-vw( 18 );
        margin-bottom: m.sp-vw( 19 );
        margin-left  : m.sp-vw( 22 );
        line-height  : 1.4375;
    }
}

//archiveのcard型
.p-section__card {
    margin-left: m.sp-vw( 18.9);
    margin-bottom: m.sp-vw( 20.9);
    margin-left: ( 20 );
    &__title {
        padding-top: m.sp-vw( 31.5 );
        margin-left: m.sp-vw( 17 );
    }
    &__heading {
        padding-top: m.sp-vw( 24 );
        margin-left: m.sp-vw( 17 );
    }
    &__text {
        padding-top : m.sp-vw( 10 );
        margin-right: m.sp-vw( 73.1 );
        margin-left : m.sp-vw( 17 );
        line-height : 1.4375;
    }
    &__button {
        margin-top    : m.sp-vw( 40 );
        margin-right  : m.sp-vw( 93 );
        margin-bottom : m.sp-vw( 43.7 );
        margin-left   : m.sp-vw( 79.9 );
        padding-top   : m.sp-vw( 10 );
        padding-right : m.sp-vw( 42.1 );
        padding-bottom: m.sp-vw( 10.5 );
        padding-left  : m.sp-vw( 41.1);
    }
}