//色指定
@use "./../foundation/variables" as v;
//ミックスイン
@use "./../foundation/mixin" as m;

.l-container {
    position: relative;
    &__black {
        display: none;      //menuクリックしたら出てくる
        content: "";
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 915.266667vw;
        width: m.sp-vw( 375 );
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.6s;
        z-index: 20;
        @include m.tablet {
            display: none;
        }
    }
}

//sp版の全面黒透過幕
.l-container__black.is-open {
    display: block;
    opacity: 3; //透明度を0にすることで隠す
    transition: opacity 0.5s; //透明度の0→1になる速度
}

