//色指定
@use "./../foundation/variables" as v;
//レスポンシブ
@use "./../foundation/mixin" as m;


//メニュー
.l-sidebar {
    display:          flex;
    flex-direction:   column;
    background-color: v.$color-bg-lightgray;
    display: none;
    position: fixed;
    z-index: 999;
    right: -100%; //見えないように右側に隠す
    transition: all 0.6s; //右から左へのアニメーション
    width: 87.5%; //画面幅
    height: 100%;
    @include m.tablet {
        left: 56vw;
        width: 44%;
    }
    @include m.pc {
        display: block;
        position: relative;
        left: m.pc-vw( -328 );
        width: 100%;
    }
}

//sp版のsidebar
.l-sidebar.active {
    display: block;
    overflow: scroll;
    right: 0; //元の場所に右から出てくる

}